https://data-newbie.tistory.com/817

# import

In [5]:
!pip -q install names

In [3]:
import pandas as pd
import names

from random import *

import numpy as np

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gc

from collections import defaultdict

In [4]:
import warnings
warnings.filterwarnings('ignore')

# load Data

In [6]:
df_basic = pd.read_csv('./data/Recipe_Basic.csv', encoding = 'cp949')
df_step = pd.read_csv('./data/Recipe_Step.csv', encoding = 'cp949')
df_ing = pd.read_csv('./data/Recipe_Ing.csv', encoding = 'cp949')

# User

In [7]:
size_user_df = 20

In [9]:
# 나이 데이터 생성
age = [randint(10, 80) for i in range(0, size_user_df)]

# 성별 데이터 생성
gender = [choice(["male", "female"]) for i in range(0, size_user_df)]

# 이름 데이터 생성
name = [names.get_first_name(gender=g) for g in gender]

# idx
id_li = [idx for idx in range(size_user_df)]

In [10]:
dic_list = {"id":id_li, "name" : name, "age" : age, "gender" : gender, }
df_user = pd.DataFrame(dic_list)

In [11]:
df_user

    id        name  age  gender
0    0       Marie   35  female
1    1       Edgar   31    male
2    2        Eric   39    male
3    3        Chad   23    male
4    4  Jacqueline   51  female
5    5      Martha   36  female
6    6    Margaret   37  female
7    7      Marcus   28    male
8    8       Ramon   54    male
9    9     Mikaela   63  female
10  10      Minnie   14  female
11  11      Daniel   45    male
12  12      Glenna   51  female
13  13   Priscilla   13  female
14  14        Tina   52  female
15  15        Scot   12    male
16  16        Juan   15    male
17  17      Lester   71    male
18  18        John   41    male
19  19      Johnny   61    male

In [14]:
for idx in range(len(df_user)):
    age = df_user['age'].iloc[idx] 
    age = age//10
    age = str(age*10)+"~"+str(age)+"9"
    df_user['age'].iloc[idx]  = age

In [15]:
df_user.to_csv('./data/User.csv')

# Make DF

In [80]:
df_basic = df_basic[:100]

In [81]:
df_basic

,Recipe_ID,Recipe_Title,Recipe_Main,Recipe_Chef,Recipe_Type1,Recipe_Type2,Recipe_Type3,Recipe_Type4,Recipe_Ingredient,Recipe_Qun,Recipe_Diff,Recipe_Time
0,6931557,집밥이 그리운 아이들을 위한 밑반찬,깻잎지,hskim4127,볶음,일상,채소류,밑반찬,[깻잎지재료] 깻잎 150장| 양파 1개| 당근 1/2개| 마늘 3숟가락| 깨소금|...,6인분이상,초급,30분이내
1,6932533,객지생활하는 아이들을 위한 반찬 7가지,쌈배추딸기물김치,hskim4127,볶음,일상,채소류,밑반찬,[쌈배추 딸기 물김치 재료] 쌈 배추 2kg| 무 1/2개| 육수 3L.| 액젓 1...,6인분이상,초급,60분이내
2,6630503,소고기 동그랑땡,소고기동그랑땡,blingbarbie,부침,일상,소고기,밑반찬,[재료] 다진소고기 600g| 두부 1모| 부침가루 1/2컵| 계란 5개 | 양파 ...,6인분이상,초급,60분이내
3,6856902,바삭촉촉오꼬노미야끼,오꼬노미야끼,25678842,부침,술안주,해물류,디저트,[재료] 양배추 200g| 오징어 200g| 칵테일새우 100g| 표고버섯 1개| ...,2인분,초급,30분이내
4,6896441,동그랑땡 양송이전,동그랑땡,farm700,부침,손님접대,육류,밑반찬,[재료1(고기 밑간용)] 돼지고기 간것 300g| 맛술 1T스푼| 통마늘10개 50...,6인분이상,중급,60분이내
...,...,...,...,...,...,...,...,...,...,...,...,...
95,6937080,집밥 메뉴/ 반찬 만들기/ 동그랑땡,동그랑땡,seel0904,부침,영양식,돼지고기,메인반찬,[재료] 돼지고기 갈은것 300g| 두부 1/2모| 청양고추 다짐 2개| 양파 1/...,6인분이상,초급,30분이내
96,6942243,추석요리~명절에 빠지면 서운한 음식 동그랑땡 만들기,동그랑땡,diningtable,부침,명절,돼지고기,메인반찬,[재료] 돼지고기 다짐육 300g| 두부 200g| 양파 100g| 당근 50g| ...,2인분,아무나,60분이내
97,6840441,명절의 꽃~!지글지글 노릇노릇 이쁘게 전부치기~!,모듬전,kiss6668,부침,명절,채소류,메인반찬,[재료] 돼지고기2근| 두부| 당근| 부추| 피망| 새송이버섯| 양파다진것| 고추|...,6인분이상,중급,2시간이내
98,5406628,동그랑땡 만들기,동그랑땡,kja831007,부침,명절,육류,밑반찬,[재료] 돼지고기갈은것 400g| 계란 3개| 당근 1/2개| 양파(대) 1개| 피...,4인분,중급,30분이내
99,6880897,돼지앞다리 돈까스 구워서 즐기기,돈까스,38704968,튀김,일상,돼지고기,메인반찬,[재료] 돼지고기 앞다리(불고기) 280g| 카레가루 1/3T~| 빵가루 1.5컵|...,3인분,중급,60분이내

In [82]:
df_ing[df_ing['Ing_Recipe'] == 6880897]

      Ing_ID  Ing_Recipe Ing_Type Ing_Name Ing_Qun
2023       0     6880897       재료       고기    280g
2024       1     6880897       재료       카레   1/3T~
2025       2     6880897       재료      빵가루    1.5컵
2026       3     6880897       재료      밀가루    1/3컵
2027       4     6880897       재료       계란      1개
2028       5     6880897       재료       기름      45
2029       6     6880897   곁들이 재료       감자      1개
2030       7     6880897   곁들이 재료   한두꺼운양파     2조각
2031       8     6880897   곁들이 재료       마늘      8알
2032       9     6880897   곁들이 재료       당근      약간

In [83]:
df_ing = df_ing[:2033]

In [84]:
df_ing

      Ing_ID  Ing_Recipe Ing_Type Ing_Name Ing_Qun
0          0     6931557    깻잎지재료       깻잎    150장
1          1     6931557    깻잎지재료       양파      1개
2          2     6931557    깻잎지재료       당근    1/2개
3          3     6931557    깻잎지재료       마늘    3숟가락
4          4     6931557    깻잎지재료       소금     NaN
...      ...         ...      ...      ...     ...
2028       5     6880897       재료       기름      45
2029       6     6880897   곁들이 재료       감자      1개
2030       7     6880897   곁들이 재료   한두꺼운양파     2조각
2031       8     6880897   곁들이 재료       마늘      8알
2032       9     6880897   곁들이 재료       당근      약간

[2033 rows x 5 columns]

In [85]:
# for idx in range(len(df_ing)):
#     check_ing = df_ing['Ing_Name'].iloc[idx]
#     if '(' in check_ing:
#         df_ing['Ing_Name'].iloc[idx] = check_ing.split('(')[0]
#         print(">>>>>>>>>>>>>>>>>>>>>>>>>>",idx)
#         print(check_ing)
#         print(df_ing['Ing_Name'].iloc[idx] )
#     else:
#         continue

In [86]:
# df_ing['Ing_Name'].iloc[7008] = '소금, 후추'
# df_ing['Ing_Name'].iloc[7632] = '간장'
# df_ing['Ing_Name'].iloc[8119] = '굴소스'
# df_ing['Ing_Name'].iloc[9109] = '토마토'
# df_ing['Ing_Name'].iloc[9757] = '닭'
# df_ing['Ing_Name'].iloc[7632] = '간장'
# df_ing['Ing_Name'].iloc[20110] = '애호박'
# df_ing['Ing_Name'].iloc[12311] = '밥'
# df_ing['Ing_Name'].iloc[11874] = '오이고추'
# df_ing['Ing_Name'].iloc[28087] = '표고버섯'
# df_ing['Ing_Name'].iloc[29161] = '멸치액젓'
# df_ing['Ing_Name'].iloc[29195] = '고추'
# df_ing['Ing_Name'].iloc[31297] = '두부'
# df_ing['Ing_Name'].iloc[31372] = '밥'
# df_ing['Ing_Name'].iloc[35141] = '청양고추'
# df_ing['Ing_Name'].iloc[35142] = '핫소스'
# df_ing['Ing_Name'].iloc[35143] = '케찹'
# df_ing['Ing_Name'].iloc[36819] = '감자'
# df_ing['Ing_Name'].iloc[42663] = '버터'

# df_ing['Ing_Name'].iloc[51584] = '콩발효액'

In [87]:
ing_dic = {}
for idx in range(len(df_ing)):
    key_id = df_ing['Ing_Recipe'].iloc[idx]
    value_rec = df_ing['Ing_Name'].iloc[idx]
    if key_id in ing_dic:
        ing_dic[key_id].append(value_rec)
    else:
        ing_dic[key_id] = [value_rec]

In [88]:
item_id_li = []
item_item_li =[]

for key, value in ing_dic.items():
    value = ', '.join(value)
#     print(key, value)
    item_id_li.append(key)
    item_item_li.append(value)

In [89]:
items = pd.DataFrame(zip(item_id_li, item_item_li),
                    columns = ['item_id','genres'])

In [90]:
items

    item_id                                             genres
0   6931557  깻잎, 양파, 당근, 마늘, 소금, 참기름, 고춧가루, 고기, 숙주, 피망, 간장,...
1   6932533  배추, 무, 육수, 액젓, 딸기, 마늘, 밀가루, 소금, 소금, 표고버섯, 전복, ...
2   6630503  고기, 두부, 밀가루, 계란, 양파, 당근, 애호박, 표고버섯, 마늘, 맛술, 소금...
3   6856902  양배추, 오징어, 새우, 표고버섯, 양파, 베이컨, 실파, 피망, 가다랑어포, 마요...
4   6896441  고기, 맛술, 마늘, 후추, 두부, 양파, 당근, 표고버섯, 대파, 소금, 전분, ...
..      ...                                                ...
95  6937080  고기, 두부, 고추, 양파, 대파, 마늘, 표고버섯, 당근, 후추, 소금, 참기름,...
96  6942243  고기, 두부, 양파, 당근, 부추, 고추, 계란, 밀가루, 마늘, 생강술, 간장, ...
97  6840441  고기, 두부, 당근, 부추, 피망, 새송이버섯, 양파, 고추, 동태, 깻잎, 밀가루...
98  5406628        고기, 계란, 당근, 양파, 피망, 쪽파, 두부, 밀가루, 마늘, 청주, 소금
99  6880897       고기, 카레, 빵가루, 밀가루, 계란, 기름, 감자, 한두꺼운양파, 마늘, 당근

[100 rows x 2 columns]

# 재료 수집 안된거

In [91]:
check_li1 = list(set(df_ing['Ing_Recipe']))

In [92]:
len(check_li1)

100

In [93]:
check_li2 = df_basic['Recipe_ID']

In [94]:
len(check_li2)

100

In [95]:
df_ing[df_ing["Ing_Recipe"] == 6894044]

Empty DataFrame
Columns: [Ing_ID, Ing_Recipe, Ing_Type, Ing_Name, Ing_Qun]
Index: []

In [96]:
complement = list(set(check_li2) - set(check_li1))
print( complement ) # ['B', 'A']

[]

In [97]:
# find_li = [6895841, 6872828, 6902121, 6896329, 1851473, 6876020, 6894044]
# find_idx = []

# for find in find_li:
#     find_check = list(df_basic[df_basic['Recipe_ID'] == find].index)
#     find_idx.append(find_check[0])
# find_idx

In [98]:
# df_basic = df_basic.drop(find_idx, axis=0)

In [99]:
len(df_basic)

100

# Rating

In [100]:
df_basic

,Recipe_ID,Recipe_Title,Recipe_Main,Recipe_Chef,Recipe_Type1,Recipe_Type2,Recipe_Type3,Recipe_Type4,Recipe_Ingredient,Recipe_Qun,Recipe_Diff,Recipe_Time
0,6931557,집밥이 그리운 아이들을 위한 밑반찬,깻잎지,hskim4127,볶음,일상,채소류,밑반찬,[깻잎지재료] 깻잎 150장| 양파 1개| 당근 1/2개| 마늘 3숟가락| 깨소금|...,6인분이상,초급,30분이내
1,6932533,객지생활하는 아이들을 위한 반찬 7가지,쌈배추딸기물김치,hskim4127,볶음,일상,채소류,밑반찬,[쌈배추 딸기 물김치 재료] 쌈 배추 2kg| 무 1/2개| 육수 3L.| 액젓 1...,6인분이상,초급,60분이내
2,6630503,소고기 동그랑땡,소고기동그랑땡,blingbarbie,부침,일상,소고기,밑반찬,[재료] 다진소고기 600g| 두부 1모| 부침가루 1/2컵| 계란 5개 | 양파 ...,6인분이상,초급,60분이내
3,6856902,바삭촉촉오꼬노미야끼,오꼬노미야끼,25678842,부침,술안주,해물류,디저트,[재료] 양배추 200g| 오징어 200g| 칵테일새우 100g| 표고버섯 1개| ...,2인분,초급,30분이내
4,6896441,동그랑땡 양송이전,동그랑땡,farm700,부침,손님접대,육류,밑반찬,[재료1(고기 밑간용)] 돼지고기 간것 300g| 맛술 1T스푼| 통마늘10개 50...,6인분이상,중급,60분이내
...,...,...,...,...,...,...,...,...,...,...,...,...
95,6937080,집밥 메뉴/ 반찬 만들기/ 동그랑땡,동그랑땡,seel0904,부침,영양식,돼지고기,메인반찬,[재료] 돼지고기 갈은것 300g| 두부 1/2모| 청양고추 다짐 2개| 양파 1/...,6인분이상,초급,30분이내
96,6942243,추석요리~명절에 빠지면 서운한 음식 동그랑땡 만들기,동그랑땡,diningtable,부침,명절,돼지고기,메인반찬,[재료] 돼지고기 다짐육 300g| 두부 200g| 양파 100g| 당근 50g| ...,2인분,아무나,60분이내
97,6840441,명절의 꽃~!지글지글 노릇노릇 이쁘게 전부치기~!,모듬전,kiss6668,부침,명절,채소류,메인반찬,[재료] 돼지고기2근| 두부| 당근| 부추| 피망| 새송이버섯| 양파다진것| 고추|...,6인분이상,중급,2시간이내
98,5406628,동그랑땡 만들기,동그랑땡,kja831007,부침,명절,육류,밑반찬,[재료] 돼지고기갈은것 400g| 계란 3개| 당근 1/2개| 양파(대) 1개| 피...,4인분,중급,30분이내
99,6880897,돼지앞다리 돈까스 구워서 즐기기,돈까스,38704968,튀김,일상,돼지고기,메인반찬,[재료] 돼지고기 앞다리(불고기) 280g| 카레가루 1/3T~| 빵가루 1.5컵|...,3인분,중급,60분이내

In [101]:
set(df_basic['Recipe_Diff'])

{'고급', '아무나', '중급', '초급'}

In [102]:
def rating(x):
    if x == '고급':
        return 4
    if x == '신의경지':
        return 5
    if x == '아무나':
        return 1
    if x == '중급':
        return 3
    if x=='초급':
        return 2

In [103]:
df_basic['rating'] = df_basic['Recipe_Diff']
df_basic['rating'] = df_basic['rating'].apply(rating)

In [104]:
ratings = df_basic[['Recipe_Chef','Recipe_ID','rating']]
ratings.columns= ['user_id','item_id','rating']
ratings

        user_id  item_id  rating
0     hskim4127  6931557       2
1     hskim4127  6932533       2
2   blingbarbie  6630503       2
3      25678842  6856902       2
4       farm700  6896441       3
..          ...      ...     ...
95     seel0904  6937080       2
96  diningtable  6942243       1
97     kiss6668  6840441       3
98    kja831007  5406628       3
99     38704968  6880897       3

[100 rows x 3 columns]

In [105]:
user_id_li = []
for idx in range(50):
    for com in range(3):
        user_id_li.append(idx)
len(user_id_li)

150

In [106]:
ratings['user_id'] = user_id_li[:100]

In [107]:
ratings

    user_id  item_id  rating
0         0  6931557       2
1         0  6932533       2
2         0  6630503       2
3         1  6856902       2
4         1  6896441       3
..      ...      ...     ...
95       31  6937080       2
96       32  6942243       1
97       32  6840441       3
98       32  5406628       3
99       33  6880897       3

[100 rows x 3 columns]

In [108]:
items

    item_id                                             genres
0   6931557  깻잎, 양파, 당근, 마늘, 소금, 참기름, 고춧가루, 고기, 숙주, 피망, 간장,...
1   6932533  배추, 무, 육수, 액젓, 딸기, 마늘, 밀가루, 소금, 소금, 표고버섯, 전복, ...
2   6630503  고기, 두부, 밀가루, 계란, 양파, 당근, 애호박, 표고버섯, 마늘, 맛술, 소금...
3   6856902  양배추, 오징어, 새우, 표고버섯, 양파, 베이컨, 실파, 피망, 가다랑어포, 마요...
4   6896441  고기, 맛술, 마늘, 후추, 두부, 양파, 당근, 표고버섯, 대파, 소금, 전분, ...
..      ...                                                ...
95  6937080  고기, 두부, 고추, 양파, 대파, 마늘, 표고버섯, 당근, 후추, 소금, 참기름,...
96  6942243  고기, 두부, 양파, 당근, 부추, 고추, 계란, 밀가루, 마늘, 생강술, 간장, ...
97  6840441  고기, 두부, 당근, 부추, 피망, 새송이버섯, 양파, 고추, 동태, 깻잎, 밀가루...
98  5406628        고기, 계란, 당근, 양파, 피망, 쪽파, 두부, 밀가루, 마늘, 청주, 소금
99  6880897       고기, 카레, 빵가루, 밀가루, 계란, 기름, 감자, 한두꺼운양파, 마늘, 당근

[100 rows x 2 columns]

# Popular Based

In [121]:
NUM_USERS = 33
NUM_ITEMS = 100

# NUM_USERS = 1_000
# NUM_ITEMS = 1_000

In [109]:
def weighted_rating(v,m,R,C):
    '''
    Calculate the weighted rating
    
    Args:
    v -> average rating for each item (float)
    m -> minimum votes required to be classified as popular (float)
    R -> average rating for the item (pd.Series)
    C -> average rating for the whole dataset (pd.Series)
    
    Returns:
    pd.Series
    '''
    return ( (v / (v + m)) * R) + ( (m / (v + m)) * C )

def assign_popular_based_score(rating_df, item_df, user_col, item_col, rating_col):
    '''
    Assigned popular based score based on the IMDB weighted average.
    
    Args:
    rating -> pd.DataFrame contains ['item_id', 'rating'] for each user.
    
    Returns
    popular_items -> pd.DataFrame contains item and IMDB weighted score.
    '''
    
    # pre processing
    vote_count = (
        rating_df
        .groupby(item_col,as_index=False)
        .agg( {user_col:'count', rating_col:'mean'} )
        )
    vote_count.columns = [item_col, 'vote_count', 'avg_rating']
    
    # calcuate input parameters
    C = np.mean(vote_count['avg_rating'])
    m = np.percentile(vote_count['vote_count'], 70)
    vote_count = vote_count[vote_count['vote_count'] >= m]
    R = vote_count['avg_rating']
    v = vote_count['vote_count']
    vote_count['weighted_rating'] = weighted_rating(v,m,R,C)
    
    # post processing
    vote_count = vote_count.merge(item_df, on = [item_col], how = 'left')
    popular_items = vote_count.loc[:,[item_col, 'genres', 'vote_count', 'avg_rating', 'weighted_rating']]
    
    return popular_items

# init constant
USER_COL = 'user_id'
ITEM_COL = 'item_id'
RATING_COL = 'rating'

# calcualte popularity based
pop_items = assign_popular_based_score(ratings, items, USER_COL, ITEM_COL, RATING_COL)
pop_items = pop_items.sort_values('weighted_rating', ascending = False)

pop_items.head()

,item_id,genres,vote_count,avg_rating,weighted_rating
64,6890575,"닭고기, 대파, 당근, 감자, 버섯, 밀가루, 드라이이스트, 설탕, 고추, 기름, ...",1,4.0,3.05
53,6872731,"쌀국수, 감자, 양파, 양배추, 고기, 짜장, 설탕, 기름, 마늘, 맛술, 대파, ...",1,4.0,3.05
8,2300103,"닭고기, 찹쌀, 닭고기, 복숭아, 고추, 고추, 깻잎, 양파, 전분, 전분, 계란,...",1,4.0,3.05
87,6937009,"삼치, 카레, 기름, 믹스허브, 소금, 후추, 느타리버섯, 당근, 양파, 대파, 마...",1,3.0,2.55
77,6922115,"고추, 고기, 새우, 통조림참치, 양파, 당근, 애호박, 새송이버섯, 팽이버섯, 찹...",1,3.0,2.55

# Content-Based

In [110]:
from sklearn.metrics.pairwise import cosine_similarity

def top_k_items(item_id, top_k, corr_mat, map_name):
    
    # sort correlation value ascendingly and select top_k item_id
    top_items = corr_mat[item_id,:].argsort()[-top_k:][::-1] 
    top_items = [map_name[e] for e in top_items] 

    return top_items

# preprocessing
rated_items = items.loc[items[ITEM_COL].isin(ratings[ITEM_COL])].copy()

# extract the genre
genre = rated_items['genres'].str.split(",", expand=True)

# get all possible genre
all_genre = set()
for c in genre.columns:
    distinct_genre = genre[c].str.lower().str.strip().unique()
    all_genre.update(distinct_genre)
all_genre.remove(None)

# create item-genre matrix
item_genre_mat = rated_items[[ITEM_COL, 'genres']].copy()
item_genre_mat['genres'] = item_genre_mat['genres'].str.lower().str.strip()

# OHE the genres column
for genre in all_genre:
#     print(genre)
    item_genre_mat[genre] = np.where(item_genre_mat['genres'].str.contains(genre), 1, 0)
item_genre_mat = item_genre_mat.drop(['genres'], axis=1)
item_genre_mat = item_genre_mat.set_index(ITEM_COL)

# compute similarity matix
corr_mat = cosine_similarity(item_genre_mat)

# get top-k similar items
ind2name = {ind:name for ind,name in enumerate(item_genre_mat.index)}
name2ind = {v:k for k,v in ind2name.items()}
similar_items = top_k_items(name2ind[6842791],
                            top_k = 10,
                            corr_mat = corr_mat,
                            map_name = ind2name)

# display result
print("The top-k similar movie to item_id 6842791")
res = items.loc[items[ITEM_COL].isin(similar_items)]
display(items.loc[items[ITEM_COL].isin(similar_items)])

del corr_mat
gc.collect();

The top-k similar movie to item_id 6842791

    item_id                                             genres
5   6869341  고추, 기름, 밀가루, 고기, 두부, 애호박, 당근, 양파, 계란, 대파, 마늘, ...
10  6945823  황태, 감자, 애호박, 깻잎, 팽이버섯, 두부, 고추, 쪽파, 양파, 된장, 고추장...
11  6836771  표고버섯, 고기, 고기, 두부, 당근, 양파, 고추, 고추, 밀가루, 밀가루, 계란...
27  6922115  고추, 고기, 새우, 통조림참치, 양파, 당근, 애호박, 새송이버섯, 팽이버섯, 찹...
57  6842791  순두부, 양파, 애호박, 팽이버섯, 고기, 고추, 고추, 계란, 고춧가루, 기름, ...
59  6837571  고기, 새우, 대파, 양파, 피망, 피망, 고추, 새송이버섯, 당근, 애호박, 쪽파...
71  6850125        고기, 두부, 쪽파, 양파, 고추, 당근, 계란, 기름, 밀가루, 소금, 마늘
74  6950205  순두부, 애호박, 고기, 양파, 표고버섯, 대파, 고추, 계란, 마늘, 생강술, 고...
85  6948382  고기, 순두부, 양파, 양배추, 애호박, 양송이버섯, 미나리, 계란, 간장, 멸치액...
95  6937080  고기, 두부, 고추, 양파, 대파, 마늘, 표고버섯, 당근, 후추, 소금, 참기름,...

In [112]:
res_id = res['item_id']

In [113]:
items[items['item_id'] == 6842791]

    item_id                                             genres
57  6842791  순두부, 양파, 애호박, 팽이버섯, 고기, 고추, 고추, 계란, 고춧가루, 기름, ...

In [114]:
df_basic[df_basic['Recipe_ID'] ==6842791 ]

,Recipe_ID,Recipe_Title,Recipe_Main,Recipe_Chef,Recipe_Type1,Recipe_Type2,Recipe_Type3,Recipe_Type4,Recipe_Ingredient,Recipe_Qun,Recipe_Diff,Recipe_Time,rating
57,6842791,명절 느끼한속을 얼큰한 순두부찌개로~!~~,순두부찌개,limsu11,끓이기,일상,콩/견과류,찌개,[재료] 순두부 1봉지| 양파 1/2개| 애호박 1/2개| 팽이버섯 1/2개| 소고...,4인분,초급,15분이내,2

In [115]:
df_basic[df_basic['Recipe_ID'] ==6937080 ]

,Recipe_ID,Recipe_Title,Recipe_Main,Recipe_Chef,Recipe_Type1,Recipe_Type2,Recipe_Type3,Recipe_Type4,Recipe_Ingredient,Recipe_Qun,Recipe_Diff,Recipe_Time,rating
95,6937080,집밥 메뉴/ 반찬 만들기/ 동그랑땡,동그랑땡,seel0904,부침,영양식,돼지고기,메인반찬,[재료] 돼지고기 갈은것 300g| 두부 1/2모| 청양고추 다짐 2개| 양파 1/...,6인분이상,초급,30분이내,2

In [116]:
ratings

    user_id  item_id  rating
0         0  6931557       2
1         0  6932533       2
2         0  6630503       2
3         1  6856902       2
4         1  6896441       3
..      ...      ...     ...
95       31  6937080       2
96       32  6942243       1
97       32  6840441       3
98       32  5406628       3
99       33  6880897       3

[100 rows x 3 columns]

# Memory - based

In [117]:
from scipy.sparse import csr_matrix

# preprocess data
row = ratings[USER_COL]
col = ratings[ITEM_COL]
data = ratings[RATING_COL]

print(len(row))
print(len(col))
print(len(data))
print(NUM_USERS)
print(NUM_ITEMS)

100
100
100
100
100

In [119]:
row.max()

33

In [124]:

# init user-item matrix
mat = csr_matrix((data, (row, col)), shape=(row.max()+1, col.max()+1))
mat.eliminate_zeros()

# calculate sparsity
sparsity = float(len(mat.nonzero()[0]))
sparsity /= (mat.shape[0] * mat.shape[1])
sparsity *= 100
print(f'Sparsity: {sparsity:4.2f}%. This means that {sparsity:4.2f}% of the user-item ratings have a value.')

# compute similarity
item_corr_mat = cosine_similarity(mat.T)

# get top k item
print("\nThe top-k similar movie to item_id 6842791")
similar_items = top_k_items(name2ind[6842791],
                            top_k = 10,
                            corr_mat = item_corr_mat,
                            map_name = ind2name)

display(items.loc[items[ITEM_COL].isin(similar_items)])

Sparsity: 0.00%. This means that 0.00% of the user-item ratings have a value.

MemoryError: Unable to allocate 351. TiB for an array with shape (6950206, 6950206) and data type float64